{% extends 'base/base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <!-- Widgets  -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="fa fa-cart-plus"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ order }}</span></div>
                                <div class="stat-heading">Order</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <a href="{% url 'shop:product' %}">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i class="fa fa-product-hunt"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ product }}</span></div>
                                <div class="stat-heading">Product</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>


        <div class="col-lg-3 col-md-6">
            <a href="{% url 'shop:customers' %}">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ buyer }}</span></div>
                                <div class="stat-heading">Customer</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-6">
            <a href="{% url 'shop:expired_product' %}">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-7">
                            <i class="fa fa-product-hunt"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ expired }}</span></div>
                                <div class="stat-heading">Expired Product Batch</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>
    <!-- /Widgets -->
    
    <div class="clearfix"></div>

    <!-- Orders -->
    <div class="orders">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Orders </h4>
                    </div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th>Purchase No.</th>
                                        <th>Customer Name</th>
                                        <th>Purchase Date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if orders %}
                                    {% for order in orders %}
                                    <tr>
                                        <td class="serial">{{ forloop.counter }}</td>
                                        <td>{{ order.purchaseno }}</td>
                                        <td>{{ order.customer.name }}</td>
                                        <td>{{ order.purchase_date }}</td>
                                        
                                        <td>
                                            <a class="btn btn-primary" href="{% url 'shop:edit' order.purchaseno  order.customer_id %}" >Edit</a>
                                            <a class="btn btn-danger" href="{% url 'shop:delete_order' order.purchaseno %}" onclick="return confirm('Are you sure you want to delete this?')" >Delete</a>
                                            
                                            <a class="btn btn-primary" href="{% url 'shop:show' order.purchaseno %}" ><i class="md md-print"></i>Print</a>
                                            
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                        <tr><td>No Order Data</td></tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-8 -->

            
        </div>
    </div>
    <!-- /.orders -->
{% endblock content %}